---
import Layout from '../layouts/Layout.astro';
import AboutUs from '../components/AboutUs/AboutUs';
import Carousel from '../components/Carousel/Carousel';
---

<Layout title="SportZone - Tu plataforma de fútbol amateur">
  <main>
    <AboutUs client:load />
    <Carousel client:load />
  </main>
</Layout>

